---
import { SITE_DESCRIPTION } from '../../consts';

import Base from '../../layouts/Base.astro';

import Hero from '../../components/Hero.astro';
import ArticleList from '../../components/ArticleList.astro';
---

<Base title={'Articles'} description={SITE_DESCRIPTION}>
	<Hero subtitle="Thoughts on nothing"> Articles </Hero>
	<div>
		<ArticleList />
	</div>
</Base>

<style>
	div {
		padding-top: var(--space-2xl);
	}
</style>
