---
import { SITE_DESCRIPTION } from '../../consts';

import Base from '../../layouts/base.astro';

import Hero from '../../components/hero.astro';
import ArticleList from '../../components/article-list.astro';
---

<Base title={'Articles'} description={SITE_DESCRIPTION}>
	<Hero> Articles </Hero>
	<div>
		<ArticleList />
	</div>
</Base>

<style>
	div {
		padding-top: var(--space-2xl);
	}
</style>
