:root {
	--background: #081114;

	--neutrals-100: #141d20;
	--neutrals-200: #242c2e;
	--neutrals-300: #343c3e;
	--neutrals-400: #464c4f;
	--neutrals-500: #575d5f;
	--neutrals-600: #6a6f71;
	--neutrals-700: #7c8183;
	--neutrals-800: #8f9495;
	--neutrals-900: #a3a7a8;
	--neutrals-1000: #b7b9ba;
	--neutrals-1100: #cccdce;
	--neutrals-1200: #e1e2e3;

	--oranges-100: #281801;
	--oranges-200: #3f2500;
	--oranges-300: #563200;
	--oranges-400: #6f4000;
	--oranges-500: #884e00;
	--oranges-600: #a15e01;
	--oranges-700: #bb6d04;
	--oranges-800: #d57e08;
	--oranges-900: #ee9010;
	--oranges-1000: #ffa523;
	--oranges-1100: #ffc359;
	--oranges-1200: #ffde9f;

	--font-heading: 'Gloock', serif;
	--font-body: 'Sen', sans-serif;

	--step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
	--step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
	--step-1: clamp(1.2rem, 1.1156rem + 0.375vw, 1.4063rem);
	--step-2: clamp(1.44rem, 1.31rem + 0.5778vw, 1.7578rem);
	--step-3: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
	--step-4: clamp(2.0736rem, 1.7983rem + 1.2236vw, 2.7466rem);
	--step-5: clamp(2.4883rem, 2.1018rem + 1.718vw, 3.4332rem);
	--step-6: clamp(2.986rem, 2.4519rem + 2.3737vw, 4.2915rem);
	--step-7: clamp(3.5832rem, 2.8545rem + 3.2386vw, 5.3644rem);

	--space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4744rem + 0.1136vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem);
	--space-s: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.4233rem + 0.3409vw, 1.6875rem);
	--space-l: clamp(2rem, 1.8977rem + 0.4545vw, 2.25rem);
	--space-xl: clamp(3rem, 2.8466rem + 0.6818vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.7955rem + 0.9091vw, 4.5rem);
	--space-3xl: clamp(6rem, 5.6932rem + 1.3636vw, 6.75rem);
	--space-4xl: clamp(8rem, 7.5909rem + 1.8182vw, 9rem);
	--space-5xl: clamp(10rem, 9.4886rem + 2.2727vw, 11.25rem);
	--space-6xl: clamp(12rem, 11.3864rem + 2.7273vw, 13.5rem);

	--max-inner: 47.25rem;
	--max-outer: 63rem;
}

html,
body {
	background-color: var(--background);
	color: var(--neutrals-1200);
	margin: 0;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: 400;
}

h1 {
	font-size: var(--step-6);
}

h2 {
	font-size: var(--step-5);
}

h3 {
	font-size: var(--step-4);
}

h4 {
	font-size: var(--step-3);
}

h5 {
	font-size: var(--step-2);
}

h6 {
	font-size: var(--step-1);
}

p,
ul,
li,
th,
td,
ol {
	font-family: var(--font-body);
	font-size: var(--step-0);
	line-height: 1.4;
	font-weight: 400;
}

li:not(:last-child) {
	margin-bottom: var(--space-xs);
}

table,
th,
td {
	border-collapse: collapse;
}

thead tr {
	border-bottom: 1px solid var(--neutrals-1200);
}

th {
	font-weight: 800;
	font-family: var(--font-heading);
	padding: var(--space-3xs) var(--space-2xs);
	letter-spacing: 1px;
}

tbody tr {
	background-color: var(--neutrals-100);
}

tbody tr:nth-child(odd) {
	background-color: var(--neutrals-200);
}

td {
	padding: var(--space-3xs) var(--space-2xs);
}

a {
	text-decoration: none;
}
