---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Base from '../layouts/Base.astro';

import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import RollArticles from '../components/RollArticles.astro';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<Hero> Design Fixated Developer </Hero>

		<Section title="Featured Articles">
			<RollArticles />
		</Section>
	</main>
</Base>
