---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import Base from '../layouts/base.astro';
import Hero from '../components/hero.astro';
import Section from '../components/section.astro';
import ArticleList from '../components/article-list.astro';
import WorkRoll from '../components/work-roll.astro';
---

<Base description={SITE_DESCRIPTION}>
	<Hero>Design Fixated Developer</Hero>

	<Section title="Featured Work" href="/work" text="View All Work">
		<WorkRoll />
	</Section>
	<Section
		title="Featured Articles"
		href="/articles"
		text="View All Articles"
	>
		<ArticleList />
	</Section>
</Base>
