---
import FormattedDate from './date.astro';

import CalendarIcon from '../assets/icons/calendar.svg';
import ClockIcon from '../assets/icons/clock.svg';

interface Props {
	publishDate: Date;
	readingTime?: string;
}

const { publishDate, readingTime } = Astro.props;
---

<ul>
	<li>
		<CalendarIcon />
		<p>
			<FormattedDate date={publishDate} />
		</p>
	</li>
	{
		readingTime ? (
			<li>
				<ClockIcon />
				<p>{readingTime}</p>
			</li>
		) : null
	}
</ul>

<style>
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		gap: var(--space-s);
	}

	li {
		margin: 0;
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		gap: var(--space-2xs);
		box-sizing: border-box;
		padding: var(--space-3xs) var(--space-s);
		border-radius: var(--space-m);
		background-color: transparent;
		line-height: 1;
		border: 1px solid var(--neutrals-1200);
		transition:
			200ms border-color ease-in-out,
			200ms color ease-in-out,
			200ms background-color ease-in-out;
	}

	p {
		width: fit-content;
		font-size: var(--step--1);
		margin: 0;
	}

	svg {
		width: 16px;
		height: auto;
	}
</style>
