---
import Link from './Link.astro';
import LogoStandard from '../assets/logo-standard.svg';
---

<header>
	<a href="/">
		<LogoStandard />
		<span class="sr-only">Brock Cataldi</span>
	</a>

	<nav>
		<Link href="/about">About</Link>
		<Link href="/articles">Articles</Link>
		<Link href="/work">Work</Link>
	</nav>
</header>

<style>
	header {
		max-width: var(--max-outer);
		border-bottom: 1px solid var(--neutrals-1200);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--background);
		box-sizing: border-box;
		z-index: 1000;
	}

	header svg {
		width: 75px;
		padding: var(--space-3xs) var(--space-s);
		color: var(--neutrals-1200);
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
</style>
