---
interface Props {
	title: string;
	subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<header>
	<div>
		<h1>{title}</h1>
		{subtitle ? <p>{subtitle}</p> : null}
	</div>
</header>

<style>
	header {
		width: 100%;
		padding: var(--space-5xl) 0;
	}

	div {
		width: 100%;
		margin: 0 auto;
		max-width: var(--max-inner);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: var(--space-xs);
	}

	h1 {
		margin: 0;
		font-size: var(--step-7);
		text-align: center;
	}

	p {
		margin: 0;
		text-align: center;
	}
</style>
