---
import ArticleMeta from '@/components/article-meta.astro';

interface Props {
	title: string;
	publishDate: Date;
	readingTime?: string;
}

const { publishDate, title, readingTime } = Astro.props;
---

<header>
	<div>
		<h1 class="post__title">{title}</h1>
		<ArticleMeta publishDate={publishDate} readingTime={readingTime} />
	</div>
</header>

<style>
	header {
		width: 100%;
		padding: var(--space-5xl) 0;
	}

	div {
		width: 100%;
		margin: 0 auto;
		max-width: var(--max-inner);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: var(--space-xs);
	}

	h1 {
		text-align: center;
		margin: 0;
	}
</style>
