---
import Button from './button.astro';

interface Props {
	title: string;
	href?: string;
	text?: string;
}

const { title, href, text } = Astro.props;
---

<section>
	<header>
		<h2>{title}</h2>
	</header>
	<div>
		<slot />
	</div>
	{
		href && text ? (
			<footer>
				<Button href={href} text={text} />
			</footer>
		) : null
	}
</section>

<style>
	section {
		width: 100%;
	}

	section:not(:last-child) {
		padding-bottom: var(--space-xl);
	}

	header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	h2 {
		margin: 0 0 var(--space-m);
	}

	footer {
		margin-top: var(--space-m);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
</style>
