---
import { getCollection } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

import Base from '@/layouts/base.astro';
import Hero from '@/components/hero.astro';
import WorkRoll from '@/components/work-roll.astro';
---

<Base title={'Work'} description={SITE_DESCRIPTION}>
	<Hero title="Work" subtitle="Projects & Experiments" />
	<div>
		<WorkRoll />
	</div>
</Base>
