---
import { getCollection } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

import Base from '../../layouts/Base.astro';
import Hero from '../../components/Hero.astro';
import RollWork from '../../components/RollWork.astro';

const posts = (await getCollection('articles')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Hero subtitle="Projects & Experiments"> Work </Hero>
	<div>
		<RollWork />
	</div>
</Base>
