---
import { getCollection } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

import Base from '../../layouts/base.astro';
import Hero from '../../components/hero.astro';
import WorkRoll from '../../components/work-roll.astro';

const posts = (await getCollection('articles')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Base title={'Work'} description={SITE_DESCRIPTION}>
	<Hero subtitle="Projects & Experiments"> Work </Hero>
	<div>
		<WorkRoll />
	</div>
</Base>
